        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }

        body {
            height: 100vh;
            display: grid;
            place-items: center;
            background-color: #f5f5f5;
        }

        .tool-btn {
            display: flex;
            gap: 15px;
        }
        .container {
            width: 60%;
            display: grid;
            gap: 20px;
            
        }
        

        button {
            display: block;
            border: none;
            border-radius: 5px;
            height: 30px;
            width: 30px;
            font-size: 16px;
            cursor: pointer;
        }

        .toolbar {
            display: flex;
            flex-flow: row nowrap;
            overflow: hidden;
            gap: 5px;
            border: 1px solid #333;
            padding: 20px;
            border-radius: 5px;
            background-color: white;

        }

        .editable {
            height: 400px;
            padding: 1rem;
            border: 1px solid #333;
            border-radius: 5px;
            background-color: white
        }


        select {
            width: 80px;
            border-radius: 5px;
        }
        .align-slash-icon {
            position: relative;
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;
        }

        /* Lines for alignment */
        .line {
            width: 80%;
            height: 2px;
            background-color: black;
        }

        /* Slash line */
        .slash {
            position: absolute;
            width: 2px;
            height: 120%;
            background-color: black;
            top: -5%;
            left: 50%;
            transform: rotate(45deg);
        }
.undoredo{
    display: flex;
    
}